
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<h3><a asp-controller="Menu" asp-action="Add">Add</a></h3>
<ul>
    @foreach (var menu in ViewBag.menus)
    {
        <li>
            <a asp-controller="Menu"
               asp-action="ViewMenu"
               asp-route-id=@menu.ID>@menu.Name</a>
        </li>
    }
</ul>