@model CheeseMVC.ViewModels.ViewMenuViewModel
@{
    ViewData["Title"] = @Model.Menu.Name;
}

<h2>View Menu</h2>

<a asp-controller="Menu" asp-action="AddItem" asp-route-id=@Model.Menu.ID>Add Item</a>

<ul>
    @foreach (var cheeseMenu in Model.Items)
    {
        <li>
            @cheeseMenu.Cheese.Name
        </li>
    }
</ul>